<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.combogymdiary"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mybarstyle"
        android:windowSoftInputMode="adjustPan" >
        <activity
            android:name="com.example.combogymdiary.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.combogymdiary.SettingsActivity" >
        </activity>
        <activity android:name="com.example.combogymdiary.StartTrainingActivity" >
        </activity>
        <activity android:name="com.example.combogymdiary.ExersisesList" >
        </activity>
        <activity
            android:name="com.example.combogymdiary.AddingExersises"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.combogymdiary.AddingProgram"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.combogymdiary.TrainingAtProgress"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.combogymdiary.HistoryActivity"
            android:parentActivityName="com.example.combogymdiary.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.combogymdiary.MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
