<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nethergrim.gymdiary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:theme="@style/Theme.Mybarstyle"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
		android:windowSoftInputMode="adjustPan"
        android:label="@string/app_name"
        android:debuggable="true"
        >
        <activity
            android:name="com.example.combogymdiary.MainActivity"
            android:label="@string/app_name" >
           
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
       		     <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.combogymdiary.SettingsActivity" ></activity>
        <activity android:name="com.example.combogymdiary.StartTrainingActivity"></activity>
        <activity android:name="com.example.combogymdiary.ExersisesList" ></activity>
        <activity android:name="com.example.combogymdiary.AddingExersises"></activity>
        <activity android:name="com.example.combogymdiary.AddingProgram" ></activity>
        <activity android:name="com.example.combogymdiary.TrainingAtProgress"
            android:windowSoftInputMode="adjustResize"
            ></activity>
        
    </application>

</manifest>
