<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nethergrim.combogymdiary"
    android:installLocation="auto"
    android:versionCode="76"
    android:versionName="1.4.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.nethergrim.combogymdiary.MyApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Mynewactionbar"
        android:windowSoftInputMode="adjustPan" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="4132500" />

        <activity
            android:name="com.nethergrim.combogymdiary.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nethergrim.combogymdiary.activities.SettingsActivity" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.StartTrainingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.ExersisesListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.AddingExersisesActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.AddingProgramActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.TrainingAtProgress"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.HistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.MainActivity" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.nethergrim.combogymdiary.activities.HistoryDetailedActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.HistoryActivity" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.CatalogActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.MainActivity" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.CatalogDetailedActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.CatalogActivity" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.MeasurementsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.MainActivity" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.AddingMeasurementActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.MeasurementsActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.MeasurementsDetailedActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.MeasurementsActivity" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.EditingProgramAtTrainingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.TrainingAtProgress"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name="com.nethergrim.combogymdiary.TrainingService"
            android:process=":myservice" >
        </service>
        <service
            android:name="com.nethergrim.combogymdiary.drive.BasicDriveService"
            android:process=":driveBackup" >
        </service>
        <service
            android:name="com.nethergrim.combogymdiary.drive.DriveAutoBackupService"
            android:process=":driveBackup" >
        </service>

        <activity
            android:name="com.nethergrim.combogymdiary.drive.DiskBackupActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.SettingsActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nethergrim.combogymdiary.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.drive.DiskRestoreActivity"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.SettingsActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nethergrim.combogymdiary.SettingsActivity" />
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.drive.DiskFileDownloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.nethergrim.combogymdiary.drive.DiskRestoreActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nethergrim.combogymdiary.DiskRestoreActivity" />
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.drive.DiskCreateFolderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.drive.DiskAutoBackupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.nethergrim.combogymdiary.activities.GraphsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.nethergrim.combogymdiary.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nethergrim.combogymdiary.MainActivity" />
        </activity>

        <!-- Опциональное поле. Может быть установлено программно. -->
        <meta-data
            android:name="metrica:api:key"
            android:value="20452" />

        <service
            android:name="com.yandex.metrica.MetricaService"
            android:process=":Metrica" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.yandex.metrica.IMetricaService" />

                <data android:scheme="metrica" />
            </intent-filter>

            <meta-data
                android:name="metrica:api:level"
                android:value="4" />
        </service>

        <receiver android:name="com.yandex.metrica.MetricaEventHandler" >
            <intent-filter>
                <action android:name="com.yandex.metrica.intent.action.SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yandex.metrica.CampaignReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.nethergrim.combogymdiary.provider.MetricaContentProvider"
            android:authorities="com.nethergrim.combogymdiary.MetricaContentProvider"
            android:exported="true" />
        
        
        <activity android:name=".activities.BasicMenuActivityNew"></activity>


    </application>

</manifest>